@model ZLMediaServerManagent.Models.ViewDto.PlayStreamProxyDto

@{
ViewData["Title"] = "播放";
}


<link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
<link href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="/layuiadmin/layui/layui.all.js"></script>

<div style="height: 100%;width:100%;" id="mainContainer">


	<video name="videoElement" class="centeredVideo" id="videoElement" playsinline="true" controls="controls"
		style="width: 100%;height:100%;object-fit: fill;background-color: #000;" autoplay muted>
		Your browser is too old which doesn't support HTML5 video.
	</video>

</div>
<!-- <div style=" width: 100%;">
	<div class="layui-form layui-card-header layuiadmin-card-header-auto"
		style="border-bottom:1px solid rgba(0, 0, 0, 0.2);background-color: #FFF;">
		<div class="layui-btn-group">
			<button type="button" class="layui-btn  layui-btn-sm">增加</button>
			<button type="button" class="layui-btn  layui-btn-sm">编辑</button>
			<button type="button" class="layui-btn layui-btn-sm">删除</button>
		  </div>
	</div>
</div> -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/vendor/bootstrap/bootstrap.min.js"></script>





<script src="/lib/flv.js/flv.min.js"></script>
<script src="/js/site.js"></script>

<script>

	(function ($, h, c) {
		var a = $([]),
			e = $.resize = $.extend($.resize, {}),
			i,
			k = "setTimeout",
			j = "resize",
			d = j + "-special-event",
			b = "delay",
			f = "throttleWindow";
		e[b] = 250;
		e[f] = true;
		$.event.special[j] = {
			setup: function () {
				if (!e[f] && this[k]) {
					return false;
				}
				var l = $(this);
				a = a.add(l);
				$.data(this, d, {
					w: l.width(),
					h: l.height()
				});
				if (a.length === 1) {
					g();
				}
			},
			teardown: function () {
				if (!e[f] && this[k]) {
					return false;
				}
				var l = $(this);
				a = a.not(l);
				l.removeData(d);
				if (!a.length) {
					clearTimeout(i);
				}
			},
			add: function (l) {
				if (!e[f] && this[k]) {
					return false;
				}
				var n;
				function m(s, o, p) {
					var q = $(this),
						r = $.data(this, d);
					r.w = o !== c ? o : q.width();
					r.h = p !== c ? p : q.height();
					n.apply(this, arguments);
				}
				if ($.isFunction(l)) {
					n = l;
					return m;
				} else {
					n = l.handler;
					l.handler = m;
				}
			}
		};
		function g() {
			i = h[k](function () {
				a.each(function () {
					var n = $(this),
						m = n.width(),
						l = n.height(),
						o = $.data(this, d);
					if (m !== o.w || l !== o.h) {
						n.trigger(j, [o.w = m, o.h = l]);
					}
				});
				g();
			},
				e[b]);
		}
	})(jQuery, this);

var flvPlayer;
	function playFlv() {
		var height = $('#mainContainer').height();
		$("#videoElement").height(height);
		if (flvjs.isSupported()) {
			debugger
			var videoElement = document.getElementById('videoElement');
			 flvPlayer = flvjs.createPlayer({
				type: 'flv',
				url: '@Model.WebSocketUrl',
				isLive: true,
				hasAudio: false,
				hasVideo: true,
				enableStashBuffer: false,
			});
			flvPlayer.attachMediaElement(videoElement);
			flvPlayer.load();
			flvPlayer.play();
		}
	}

	$("#mainContainer").resize(function () {
		var height = $('#mainContainer').height();
		$("#videoElement").height(height);
		//当id为main的div大小变化时的处理函数写在这里.....
		//当然了#main只不过是id选择器，你也可以换成任何jquery的选择器......
	});


	playFlv();

	function showInfo() {
		var index = layer.open({
			type: 1
			, title: '视频信息'
			, closeBtn: true
			, shade: 0
			, area: ['100%', '70%']
			, id: 'streamInfo'  //设定一个id，防止重复弹出
			, btnAlign: 'c'
			, closeBtn: 1
			, moveType: 1 //拖拽模式，0或者1
			, content: '<div>\
				WebSocket地址: @Model.WebSocketUrl <br/>\
				WebSocket SSL地址: @Model.WebSocketSUrl <br/>\
				<hr class="layui-bg-blue">\
				RTMP地址: @Model.RTMPUrl <br/>\
				RTMP SSL地址: @Model.RTMPSUrl <br/>\
				<hr class="layui-bg-blue">\
				RTSP: @Model.RTSPUrl <br/>\
				RTSP SSL地址: @Model.RTSPSUrl <br/>\
				<hr class="layui-bg-blue">\
				HLS地址: @Model.HLSUrl <br/>\
				HLS SSL地址: @Model.HLSSUrl <br/>\
				<hr class="layui-bg-blue">\
				HTTP-TS地址: @Model.HTTP_TSUrl <br/>\
				HTTPS-TS SSL地址: @Model.HTTPS_TSUrl <br/>\
				<hr class="layui-bg-blue">\
				WebSocket-TS地址: @Model.WebSocket_TSUrl <br/>\
				WebSocket-TS SSL地址: @Model.WebSocketS_TSUrl <br/>\
				<hr class="layui-bg-blue">\
				HTTP-MP4 地址: @Model.HTTP_MP4Url <br/>\
				HTTPS-MP4 SSL地址: @Model.HTTPS_MP4Url <br/>\
				<hr class="layui-bg-blue">\
				WebSocket-MP4 地址: @Model.WebSocket_MP4Url <br/>\
				WebSocket-MP4 SSL地址: @Model.WebSocketS_MP4Url <br/>\
				<hr class="layui-bg-blue">\
				</div>'
			, shadeClose: true //点击遮罩区域是否关闭页面
		});
	}

	

	$(function(){
	//		console.log('@Model.WebSocketUrl');
	})
</script>